.add-location-container {
  margin-top: 50px;
  /* padding: 0 10%; */
  padding-bottom: 50px;
}

.add-location-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.add-location-title {
  color: #f45b69;
  font-weight: 500;
}

.add-location-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 1rem;
}

.file-upload-container {
  border: 1.5px dashed #f45b69;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file-upload {
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file-input {
  position: relative;
  text-align: right;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
.upload-file-icon-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f45b69;
}

.add-location-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.add-location-button {
  background-color: #f45b69;
  color: white;
  padding: 14px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 14px;
  font-weight: 550;
  transition: all 0.5s ease;
}

@media (hover: hover) and (pointer: fine) {
  .add-location-button:hover {
    opacity: 0.4;
  }
}
